{% extends 'manpower/manpower_base.html' %}
{% block content %}
    <div>
        {% if result %}
            {% if result == 'success' %}
                <h3 style="color: green; margin-left: 30%">Password has been changed</h3>
            {% else %}
                <h3 style="color: red;margin-left: 30%">{{ result }}</h3>
            {% endif %}
        {% endif %}

        <form enctype="multipart/form-data" action="" method="post" >
            {% csrf_token %}

            <fieldset>
                <div id="info">
                    <h3 style="text-align: center">Change Password</h3>

                    <table class="table table-hover" style="border-collapse: separate; border-spacing: 0 15px; width: 50%; margin: 0 auto" >

                        {% for field in form %}
                            <tr>
                                <td>
                                    {{ field.label_tag }}
                                </td>
                                <td>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}

                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </td>

                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="text-align:center" colspan="2">
                                <input class="btn  btn-outline-info btn-light" type="submit" value="Change Password">
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
