{% extends 'task_management/task_management_base.html' %}

{% block add_task %}

    <div>
        <link href="/static/css/selectize.css" rel="stylesheet"/>
        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <script src="/static/js/task_manager.js"></script>
        <script src="/static/js/selectize.js"></script>

    {% if success %}
        <h3 class="text-success">Task Added successfully</h3>
    {% endif %}
        <form action="" method="post" id="task_form">
            {% csrf_token %}

            <fieldset>

                <div>
                    <h3 style="text-align: center">Add Task</h3>

                    <div class="outer-wrapper">
                        <div style="width: 80%; margin-left: 5%">
                            <table class="table table-sm table-bordered ">

                                {% for field in form %}
                                    <tr class="table-info table-sm" style="text-align: center; width: 40%">

                                        <td><b> {{ field.label_tag }} </b></td>
                                        <td> {{ field }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div id="dialog"
                         style=" z-index: 100; display: none; float: right; right: 1%; position: sticky; bottom:15%">
                        <div>
                            <input type="button" onclick="document.getElementById('dialog').style.display='none'"
                                    style="float: right" value="X"></input>
                        </div>
                        <div>
                        <textarea id="details" style="font-size: 9pt" rows="10" cols="40" white-space: pre-wrap;>
                                </textarea>
                        </div>
                    </div>

                    <input style="margin-left: 50%" class="btn btn-outline-info" type="submit" value="Add Task">

                    <br><br>

                </div>
            </fieldset>
        </form>
        <script>
            $(document).ready(function () {

                $('#id_supervisor').selectize({
                    sortField: 'text'
                });
                $('#id_task_executor').selectize({
                    sortField: 'text'
                });
            });
        </script>
    </div>

{% endblock %}