{% extends 'task_management/task_management_base.html' %}
{% load static %}
{% load consultant_templatetags %}
{% load comments_templatetags %}
{% block task_list %}

    <script src="{% static 'js/SiteScripts/search_results.js' %}"></script>
    <script src="{% static 'js/selectize.js' %}"></script>
    <script src="{% static 'js/task_manager.js' %}"></script>
    <link href="/static/css/selectize.css" rel="stylesheet"/>

    <div style="padding-left: 2%; padding-top: 1%">
        <div class="row">
            <div class="column" style="margin-left: 2%">
                <table class="table table-sm table-bordered" style="width: 100%">
                    <tr class="table-success">
                        <td colspan="4">
                            <h4 style="text-align: center">Summary of All Tasks</h4>
                        </td>
                    </tr>
                    <tr style="text-align: center">
                        <th>Total Completed Tasks</th>
                        <th>{{ total_completed_tasks }}</th>
                    </tr>
                    <tr style="text-align: center">
                        <th>Total Incomplete Tasks</th>
                        <th>{{ total_incomplete_tasks }}</th>
                    </tr>
                    <tr style="text-align: center">
                        <th>Tasks of Current Month</th>
                        <th>{{ monthly_tasks }}</th>
                    </tr>
                </table>
            </div>
            {% if search_summary %}
                <div class="column" style="margin-left: 10%">
                    <table class="table table-sm table-bordered" style="width: 100%">
                        <tr class="table-success">
                            <td colspan="4">
                                <h4 style="text-align: center">Summary of Search Result</h4>
                            </td>
                        </tr>
                        <tr style="text-align: center">
                            <th>Total Completed Tasks</th>
                            <th>{{ search_summary.total_completed_tasks }}</th>
                        </tr>
                        <tr style="text-align: center">
                            <th>Total Incomplete Tasks</th>
                            <th>{{ search_summary.total_incomplete_tasks }}</th>
                        </tr>
                        <tr style="text-align: center">
                            <th>Tasks of Current Month</th>
                            <th>{{ search_summary.monthly_tasks }}</th>
                        </tr>
                    </table>
                </div>
            {% endif %}

        {% if request.user.profile.access_level < 4 %}
            {% if feedback_summary %}
                <div class="column" style="margin-left: 10%">
                    <table class="table table-sm table-bordered" style="width: 100%">
                        <tr class="table-success">
                            <td colspan="2">
                                <h4 style="text-align: center">Task Feedback Summary</h4>
                            </td>
                        </tr>
                        <tr style="text-align: center">
                            <th>Total Feedbacks</th>
                            <th><a href="/feedback/show_all">{{ feedback_summary.total_feedback.count }}</a></th>
                        </tr>
                        <tr style="text-align: center">
                            <th>Supervisor Feedbacks</th>
                            <th>{{ feedback_summary.supervisor_feedback.count }}</th>
                        </tr>
                        <tr style="text-align: center">
                            <th>Executor Feedbacks</th>
                            <th><a href="/feedback/executor_feedbacks">{{ feedback_summary.executor_feedback.count }}</a></th>
                        </tr>
                        <tr style="text-align: center">
                            <th>Tasks with No Feedbacks(within 3 days)</th>
                            <th>{{ feedback_summary.no_feedback.count }}</th>
                        </tr>
                    </table>
                </div>
                <div>
                    <div id="dialog" style=" z-index: 100; display: none; float: left; right: 1%; position: static; bottom:15%">
                        <div>
                            <input type="button" onclick="document.getElementById('dialog').style.display='none'"
                                   style="float: right" value="X"></input>
                        </div>
                        <div>
                            <textarea id="details" style="font-size: 9pt" rows="10" cols="40" white-space: pre-wrap;>
                            </textarea>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        </div>

        <div>
            <span>
                <a class="btn btn-outline-primary" href="/task_management/started_task_list"> Click To View Started Task List</a>
            </span>
            
            <span>
                <a class="btn btn-outline-primary" href="javascript:download_task_report()"> Click Download Report As Excel</a>
            </span>
        </div>

        <br>

        <div>

            <div>
                <div>
                <form action="" method="get" id="task_search_form">
                    <table class="table table-hover table-bordered table-sm" style="overflow-wrap: break-word; width: 100%">

                        <tr class="table-success" style="text-align: center; font-size: 0.9em">
                            <th>SL No.</th>
                            <th>Milestone ID</th>
                            <th>Task ID</th>
                            <th>Title</th>
                            <th>Progress (%)</th>
                            <th style="width: 5%">Division</th>
                            <th style="width: 8%">Shop/Department</th>
                            <th>Category</th>
                            <th>Supervisor</th>
                            <th>Executor</th>
                            <th>System</th>
                            <th>SubSystem</th>
                            <th>Facility</th>
                            <th>Planned start date</th>
                            <th>Planned end date</th>
                            <th>Actual start date</th>
                            <th>Actual end date</th>
                            <th>Comments</th>

                        </tr>
                        <tr style="font-size: 0.8em">
                        
                                <td style="text-align:center">
                                    <input class="btn  btn-outline-dark btn-light" type="submit" value="Search">
                                </td>
                                <formset>
                                {% for field in form %}

                                    {% if field.name == 'planned_start_date_from' or field.name == 'planned_end_date_from' or field.name == 'actual_start_date_from' or field.name == 'actual_end_date_from' %}

                                        {% if field.name == 'planned_start_date_from' %}
                                            <td>From:{{ field }} <br> To:{{ form.planned_start_date_to }}</td>
                                        {% endif %}

                                        {% if field.name == 'planned_end_date_from' %}
                                            <td>From:{{ field }} <br> To:{{ form.planned_end_date_to }}</td>
                                        {% endif %}

                                        {% if field.name == 'actual_start_date_from' %}
                                            <td>From:{{ field }} <br> To:{{ form.actual_start_date_to }}</td>
                                        {% endif %}

                                        {% if field.name == 'actual_end_date_from' %}
                                            <td>From:{{ field }} <br> To:{{ form.actual_end_date_to }}</td>
                                        {% endif %}

                                    {% else %}
                                        {% if 'date_to' not in field.name %}
                                            <td {% if 'system' in field.name  or 'percent_completed' in field_name%} style="width: 5%" {% endif %}>
                                                {{ field }}
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </formset>

                        </tr>
                        <tbody style="text-align: center; font-size: 0.8em">
                        {% if task_list %}
                            {% for task in task_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td style="font-size: 0.9em">{{ task.milestone_id }}
                                        {% if task.id|task_consultant %}
                                            <br>
                                            <span style="font-size: small; color: #0f6674">Consultant: {{ task.id|task_consultant }}</span>
                                        {% endif %}
                                    </td>
                                    <td><a href="/task_management/open_task/{{ task.id }}"
                                           target="_blank">{{ task }}</a>
                                        {% if user_can_reassign_task %}
                                            {% if task.division == request.user.profile.division or request.user.profile.access_level < 2%}
                                                <a href="/task_management/edit_task/{{ task.id }}"
                                                   class="btn btn-outline-primary" target="_blank">Edit Task</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ task.title }}</td>
                                    <td>{{ task.percent_completed }}</td>
                                    <td>{{ task.division }}</td>
                                    <td>{{ task.dept_id }}</td>
                                    <td>{{ task.task_category }}</td>
                                    <td>{% for each in task.supervisor_list %} {{ each.first_name }}
                                        {{ each.last_name }}
                                        ({{ each.username }})<br> {% endfor %}</td>
                                    <td>{% for each in task.executor_list %} {{ each.first_name }} {{ each.last_name }}
                                            ({{ each.username }})
                                            {% if task.lead_executor == each %}
                                                <span style="font-size: smaller; color: dodgerblue">(Lead)</span>
                                            {% endif %}<br> 
                                        {% endfor %}
                                    </td>

                                    <td>{{ task.system }}</td>
                                    <td>{{ task.subsystem }}</td>
                                    <td>{{ task.facility }}</td>
                                    <td>{{ task.planned_start_date }}</td>
                                    <td>{{ task.planned_end_date }}</td>
                                    <td>{{ task.actual_start_date }}</td>
                                    <td>{{ task.actual_end_date }}</td>
                                    <td>
                                        {% with task|todays_comments as comments %}
                                            <a href="/task_management/open_task/{{ task.id }}">
                                                Today: {{ comments.0}} <br> Total: {{ comments.1}}
                                            </a>
                                        {% endwith %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <h2 style="text-align:center; color:red">No Result Found</h2>
                        {% endif %}
                        </tbody>
                    </table>
                </form>

                    <!-- for pagination-->
                    <div id="pagination_div">
                        {% if task_list.has_other_pages %}
                            <ul class="paginator">

                                <span>Page: </span>
                                {% for i in task_list.paginator.page_range %}
                                    {% if task_list.number == i %}
                                        <span class="this-page">{{ i }} <span
                                                class="sr-only">(current)</span></span>
                                    {% else %}
                                        <a href="javascript:next_page_report('{{ i }}')">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </div>
            </div>
            <br> <br>
        </div>
        <script>
            $(document).ready(function () {

                $('#id_supervisor').selectize({
                    sortField: 'text',
                    inputClass: 'auto_fetch'
                });
                $('#id_task_executor').selectize({
                    sortField: 'text',
                    inputClass: 'auto_fetch'
                });
                $('#id_division').selectize({
                    sortField: 'text',
                    inputClass:'no_fetch'
                });
                $('#id_shop').selectize({
                    sortField: 'text',
                    inputClass:'no_fetch'
                });
                $('#id_system').selectize({
                    sortField: 'text',
                    inputClass:'no_fetch'
                });
                $('#id_subsystem').selectize({
                    sortField: 'text',
                    inputClass:'no_fetch'
                });
                $('#id_facility').selectize({
                    sortField: 'text',
                    inputClass:'no_fetch'
                });
            });
        </script>

    </div>
{% endblock %}
