{% extends 'task_management/task_management_base.html' %}
{% load static %}
{% load document_templatetags %}
{% load feedback_templatetags %}
{% block document %}
    <div>
        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <script src="/static/js/task_manager.js"></script>
        <script src="{% static 'js/SiteScripts/search_results.js' %}"></script>

        <div>

            <div style="margin-left: 5%">
                <h5 style="padding-top:10px; text-align: center; font-weight: bold">Document Requests</h5>
                <button  style="padding-top: 10px" onclick="window.location.href='/document_request/delivered_documents/'" type="button" class="btn btn-outline-info"><b>Delivered Documents</b></button>
                <button  style="padding-top: 10px" onclick="window.location.href='/document_request/not_received_documents/'" type="button" class="btn btn-outline-info"><b>Documents Not Received Yet</b></button>
                <br><br>
                <table class="table table-sm table-responsive-sm table-bordered" style="width: 90%; text-align: center; font-size: 0.9em">
                    <tr>
                        <th style="width: 5%">Sl No.</th>
                        <th style="width: 20%">Task</th>
                         <th style="width: 20%">Requested By</th>
                        <th style="width: 20%">Approved By & Remarks</th>
                        <th style="width: 45%">Documents & Remarks</th>
                        <th style="width: 10%">Request Date</th>
                        <th style="width: 10%">Approval Date</th>
                        <th style="width: 10%">Action</th>
                    </tr>

                    {% for each in my_requests %}
                        <tr {% if each.approval_level == -1 %} style="background-color: rgba(156,60,60,0.4)" {% endif %}>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <span>
                                    Milestone ID: {{ each.task.milestone_id }}
                                </span>
                                <br>
                                <span>
                                    Task ID: {{ each.task.task_id }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ each.requested_by }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ each.approved_by }}
                                </span> <br>
                                <span>
                                    <b>Approver Remarks:</b> {{ each.approver_remarks }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    <b>Requested Documents:</b> {{ each.requested_documents }}
                                </span> <br>
                                <span>
                                   <b>Requester Remarks:</b> {{ each.requester_remarks }}
                                </span>
                            </td>

                            <td>
                                {{ each.requested_at }}
                            </td>
                            <td>
                                {{ each.approved_at }}
                            </td>
                            <td>
                                <span>
                                    <a href="/document_request/provide_document/{{ each.task.id }}/{{ each.id }}"
                                    target="_blank">Click</a> to update status
                                </span>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>

            <div id="pagination_div">
                {% if my_requests.has_other_pages %}
                    <ul class="paginator">
                        <span>Page: </span>
                        {% for i in my_requests.paginator.page_range %}
                            {% if my_requests.number == i %}
                                <span class="this-page">{{ i }} <span
                                        class="sr-only">(current)</span></span>
                            {% else %}
                                <a href="javascript:next_page_report('{{ i }}')">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}