{% extends 'base.html' %}
{% load notice_tags %}
{% block content %}

    <style>
        .dropbtn {
          color: white;
          font-size: 0.9em;
          border: none;
        }
        .dropbtn-b {
          color: grey;
          font-size: 0.9em;
          border: 1px solid black;
        }

        .dropdown {
          position: relative;
          display: inline-block;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 200px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown-content a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #3e8e41;}

        .dropdown:hover .dropbtn-b {background-color: #990041;}

    </style>


    <div id="notice_div">
    {% if show_notification %}
        {% with now|get_notice as notice %}
            {% if notice %}
                <script>
                    $(document).ready(function () {
                        $("#notice_btn").click();
                    });
                </script>
                <button type="button" id='notice_btn' hidden=true data-toggle="modal" data-target="#doc_level_1"></button>
                <div id="doc_level_1" class="modal fade" role="dialog">
                    <div class="modal-dialog" style="max-width: 50%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 style="text-align: center" class="alert-danger">{{ notice.notice_header }}</h4>
                                <button type="button" class="close" data-dismiss="modal">X</button>
                            </div>

                            <div class="modal-body" style="overflow-x: auto;">
                                <h4 style="text-align: center">
                                    {{ notice.notice|safe|linebreaksbr }}
                                </h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom py-sm-0">
            <div class="collapse navbar-collapse" style="font-size: 0.9em">
                <ul class="navbar-nav mr-auto">
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/task_management/milestone_list">All Milestone List</a>#}
{#                    </li>#}
                    {% if request.user.profile.access_level <= 9 %}
                        <li class="nav-item">
                            <a class="nav-link" href="/task_management/task_list">Task List</a>
                        </li>
                    {% endif %}

                    {% if request.user.profile.access_level > 2 %}
                       <!-- <li class="dropdown">
                            <button class="dropbtn nav-link bg-light">My Tasks</button>
                            <div class="dropdown-content">
                                <a class="nav-link" href="/task_management/my_task">Tasks to Execute</a>
                                <a class="nav-link" href="/task_management/assigned_task">Tasks to Supervise</a>
                            </div>
                        </li> -->
                    {% endif %}
                    {% if request.user.profile.access_level < 5 %}

                       <li class="nav-item">
                            <a class="nav-link" href="/task_management/add_task">Add Task</a>
                       </li>
                    {% endif %}
                    {% if request.user.profile.access_level <= 3  or perms.task_management.view_secondtierdocumentreview %}
                        <ul class="dropdown" style="margin-left: -3%">
                            <button class="dropbtn nav-link bg-dark">View Document Reviews</button>
                            <div class="dropdown-content">
                                <li class="dropdown">
                                    <button class="dropbtn bg-info small">Operational Document Reviews</button>
                                    <div class="fa-medium small nav-link">
                                        <a href="/task_management/document_review/list_review_report">First Tier Feedback</a>
                                        <a href="/task_management/document_review/second_tier_doc_review_list">Second Tier Feedback</a>
                                    </div>
                                </li>
                            {% if perms.task_management.change_safetyanalysisreportreview %}
                                <li class="dropdown">
                                    <button class="dropbtn bg-info small">Safety Analysis Report Review</button>
                                    <div class="fa-medium small nav-link">
                                        <a href="/task_management/document_review/view_sar_indv_report_list">View Individual Reports</a>
                                        <a href="/task_management/document_review/view_sar_comt_report_list">View Committee Reports</a>
                                    </div>
                                </li>
                            {% endif %}
                            </div>
                        </ul>
                        {% endif %}

                   <!-- <li class="dropdown">
                        <button class="dropbtn nav-link bg-light">Discussion</button>
                        <div class="dropdown-content">
                            <a class="nav-link" href="/lecture/lecture_list">View Discussions</a>
                            {% if request.user.profile.access_level < 4 or perms.task_management.add_lecture %}
                                <a class="nav-link" href="/lecture/create">Create Discussion</a>
                            {% endif %}
                        </div>
                    </li> -->

                    {% if request.user.profile.access_level < 2 %}

                        <li class="dropdown">
                            <button class="dropbtn nav-link bg-dark">Report</button>
                            <div class="dropdown-content">
                                <a href="/task_management/consultancy_requests">Consultancy Requests</a>
                                <a href="/report/consultant_tasks_report">Consultant Task Report</a>
                                <a href="/report/consultant_discussion_report">Consultant Discussion Report</a>
                                <a href="/report/task_distribution">Task Distribution Report</a>
                            </div>
                        </li>

                    {% endif %}

                 <!--   <li class="nav-item">
                        <a class="nav-link" href="/task_management/task_comment">Task Comment</a>
                    </li> -->

                    <li class="dropdown">
                        <button class="dropbtn nav-link bg-dark">Document Request</button>
                        <div class="dropdown-content">
                            {% if request.user.profile.access_level < 5 %}
                                <a href="/document_request/pending_requests">Pending Document Requests to Approve</a>
                            {% endif %}
                            <a href="/document_request/view_my_requests">My Document Requests</a>
                        </div>
                    </li>
                    {% if request.user.profile.access_level > 2 %}
                        {% if request.user.profile.division.division_name == 'Documentation' %}
                            <li class="nav-item">
                                <a class="nav-link" href="/document_request/all_requests">Document Requests to Deliver</a>
                            </li>
                        {% else %}
                            <ul class="dropdown" >
                            <button class="dropbtn nav-link bg-dark" style="margin-left: -5%">Document Review</button>
                                <div class="dropdown-content">
                                    <li class="dropdown">
                                        <button class="dropbtn bg-info small">1.Operational Document Review</button>
                                        <div class="fa-medium small">
                                            <a href="/task_management/document_review/list">First Tier Feedback</a>
                                            <a href="/task_management/document_review/second_tier_doc_review">Second Tier Feedback</a>
                                        </div>
                                    <li>

                                    <li class="dropdown">
                                        <button class="dropbtn bg-info small">2.Safety Analysis Report Review</button>
                                        <div class="fa-medium small" style="padding-left: 1%">
                                            {% if perms.task_management.add_safetyanalysisreportreview %}
                                                <a href="/task_management/document_review/assign_sar_reviewer">Assign Member to Review</a>
                                                <a href="/task_management/document_review/view_sar_reviews">View Member Feedback</a>
                                                <a href="/task_management/document_review/upload_committee_report">Upload Committee Report</a>
                                            {% endif %}
                                            <a href="/task_management/document_review/my_sar_review">Tasks assigned to Me</a>
                                        </div>
                                    </li>

                                </div>
                            </ul>
                        {% endif %}
                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>


    {% block task_list %}

    {% endblock %}

    {% block assigned_task %}

    {% endblock %}

    {% block add_task %}

    {% endblock %}

    {% block open_task %}

    {% endblock %}

    {% block add_person %}
    {% endblock %}

    {% block add_comment %}
    {% endblock %}

    {% block add_answer %}
    {% endblock %}

    {% block add_activity %}
    {% endblock %}

    {% block milestone %}
    {% endblock %}

    {% block document %}
    {% endblock %}

    {% block report %}
    {% endblock %}

    {% block task_comment %}
    {% endblock %}

    {% block doc_review %}
    {% endblock %}

    {% block chart %}
        {% if request.path == '/' %}
            <h2 style="text-align: center">Document Review Summary</h2>
            <br>

            <table class="table table-bordered table-success" style="width: 25%; text-align: center; margin: 0 auto;">
                <tr>
                    <th>Total documents to be reviewed</th>
                    <th>{{ total_documents }}</th>
                </tr>
                <tr>
                    <th>First tier review completed</th>
                    <th>{{ total_1st_tier_review_count }}</th>
                </tr>
                <tr>
                    <th>Submitted Documents for recommendation</th>
                    <th>{{ total_2nd_tier_review_count }}</th>
                </tr>
            </table>
            <br>

            <div id="chart" style="margin: 0 auto; width: 80%">
            </div>
        {% endif %}

        <script>
            const options = {
                chart: {
                    type: 'bar',
                    height: 400
                },
                series: {{ series|safe }},
                xaxis: {
                    categories: {{ categories|safe }}
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '40%',
                        endingShape: 'rounded'
                    }
                },
                dataLabels: {
                    enabled: false
                },
                tooltip: {
                    shared: true,
                    intersect: false
                }
            };

            const chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        </script>

    {% endblock %}

{% endblock %}
