{% extends 'system_log/system_log_base.html' %}
{% load static %}
{% block profile_edit_log %}

    <script src="{% static 'js/SiteScripts/search_results.js' %}"></script>

    <script src="/static/js/SiteScripts/search_results.js"></script>
    <script src="/static/js/SiteScripts/FileHandler.js"></script>
    <script src="/static/js/SiteScripts/FormHandler.js"></script>

    <br><br>
    <h2 style="text-align:center; margin-bottom: 2%">Profile Edit Log</h2>

    {% if profile_edit_log %}
        <div class="outer-wrapper">
            <div class="table-wrapper center" style="width: 60%; text-align: center; margin-left: 23%">
                <table class="table table-hover table-bordered table-sm">

                    <tr class="table-success">
                        <th>SL No.</th>
                        <th>Changed Fields</th>
                        <th>Changed by</th>
                        <th>Changed at</th>
                        <th>Device IP</th>
                    </tr>

                    {% for each in profile_edit_log %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ each.changed_fields }}</td>
                            <td>{{ each.changed_by }}</td>
                            <td>{{ each.changed_at }}</td>
                            <td>{{ each.ip }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div id="pagination_div">
                    {% if profile_edit_log.has_other_pages %}
                        <ul class="paginator">

                            <span>Page: </span>
                            {% for i in profile_edit_log.paginator.page_range %}
                                {% if profile_edit_log.number == i %}
                                    <span class="this-page">{{ i }} <span class="sr-only">(current)</span></span>
                                {% else %}
                                    <a href="javascript:next_page_report('{{ i }}')">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}
        <h2 style="color:red; text-align:center">No log recorded</h2>
    {% endif %}

{% endblock %}