{% extends 'task_management/task_management_base.html' %}

{% block report %}
    <div>
        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <script src="/static/js/task_manager.js"></script>

        <div style="width: 80%;">
                <h4 style="margin-left: 40%">Consultant Task Summary</h4>
                <table class="table table-sm table-hover table-bordered" style="width:20%; margin-left: 40%">
                    <tr class="table-info" style="text-align: center">
                        <th>Name</th>
                        <th>Total Assigned</th>
                        <th>Total Feedback</th>
                    </tr>
                    {% for key, value in consultant_feedback_count.items %}
                    <tr style="text-align: center">
                        <td>{{ key }}</td>
                        <td> <a href="/report/consultant_tasks_report?consultant={{ key.id }}&filter=all">{{ value.1 }}</a></td>
                        <td><a href="/report/consultant_tasks_report?consultant={{ key.id }}&filter=feedbacks">{{ value.0 }}</a></td>

                    </tr>
                    {% endfor %}

                </table>
        </div>

        <div style="margin-left: 5%; width: 80%;">
            <h3>Consultant Task Report</h3>

            <table class="table table-responsive-sm table-bordered">
                <tr style="text-align: center">
                    {% for field in form %}
                        {% if "_to" not in field.name %}
                            <td>
                                {% if field.name == 'feedback_from' %}
                                    Feedback Date
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr style="text-align: center">
                    <form action="" method="get">
                        {% for field in form %}

                            {% if '_from' in field.name or '_to' in field.name %}
                                {% if field.name == 'feedback_from' %}
                                    <td>
                                        From:{{ field }} <br> To:{{ form.feedback_to }}
                                    </td>
                                {% endif %}

                            {% else %}
                                {% if '_to' not in field.name %}
                                    <td>
                                        <span>{{ field }}</span>

                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td style="text-align:center">
                            <input class="btn  btn-outline-dark btn-light" type="submit" value="Search">
                        </td>
                    </form>
                </tr>
                </tr>
            </table>


            <table class="table table-sm table-hover table-bordered">
                <tr class="table-info" style="text-align: center">
                    <th>Sl. No</th>
                    <th>Consultant</th>
                    <th>Task</th>
                    <th>Division</th>
                    <th>Category</th>
                    <th>Report Submission Time</th>
                    <th>Feedback</th>
                </tr>
                {% for each in total_feedback %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ each.consultant }}<a href="/group_sms?user={{ each.consultant.id }}&msg_body=Dear Mr.{{ each.consultant.first_name }}, Task: {{ each.task }}">(send msg)</a></td>
                    <td>
                        <span><b>MilestoneID: </b>{{ each.task.milestone_id }}</span><br>
                        <span><b>Program KKS: </b>{{ each.task.task_id }}</span><br>
                        <span><b>Planned Start: </b>{{ each.task.planned_start_date }}</span><br>
                        <span><b>Planned End: </b>{{ each.task.planned_end_date }}</span><br>
                        <span><b>Title: </b> {{ each.task.title }}</span>
                    </td>
                    <td>{{ each.task.division }}</td>
                    <td>{{ each.task.task_category }}</td>
                    <td>{{ each.report_submitted_at }}</td>
                    <td>
                        {% if each.review_report %}
                            <a href="/report/consultant_feedback/{{ each.id }}">View Feedback</a>
                        {% else %}
                            <b>No Feedback Yet</b>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}