{% extends 'base.html' %}
{% load static %}
{% load document_templatetags %}
{% block content %}
    <link href="/static/css/selectize.css" rel="stylesheet"/>
    <link href="/static/js/Tagging/jquery.tagger.css" rel="stylesheet"/>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/selectize.js"></script>
    <script src="/static/js/task_manager.js"></script>
    <div style="margin-left: 5%; margin-top: 5%">

        <div class="row">
            <div class="column" style="width: 40%">
                <h3 style="margin-left: 10%">Group SMS Sender</h3>
                {% if success %}
                    <h4> {{ success }}</h4>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <formset class="form-row">
                        <table class="table-bordered">
                            {% for each in sms_form %}
                                <tr>
                                    <td style="width: 30%">{{ each.label_tag }}</td>
                                    <td style="width: 70%;">
                                        {{ each }}
                                        {% for error in each.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </td>

                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2" style="text-align: right">
                                    <label id="text_count" style="float: left">Total Characters: 0</label>
                                    <input type="submit" value="Send MSG">
                                </td>

                            </tr>
                        </table>
                    </formset>
                </form>
            </div>

            <div class="column" style="width: 55%">
                <h3 style="margin-left: 25%">SMS Task History</h3>

                <table class="table table-sm table-bordered" style="overflow-wrap: break-word; width: auto; text-align: center">
                    <tr>
                        <th style="width: 5%">Sl No.</th>
                        <th style="width: 20%">Date & Time</th>
                        <th style="width: 35%">Message</th>
                        <th style="width: 40%;">Recipients</th>
                    </tr>

                    {% for each in group_msg %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ each.send_time }}
                            </td>
                            <td>
                                {{ each.message_body }}
                            </td>
                            <td>
                                {{ each.recipients|split_recipients }}
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>

        </div>
        <script>
            $(document).ready(function () {
                $('#id_tasks').selectize({
                    sortField: 'text',
                    inputClass: 'no_fetch',
                });
                $('#id_receiver_designation').selectize({
                    sortField: 'text',
                    inputClass: 'no_fetch'
                });
                $('#id_receiver_division').selectize({
                    sortField: 'text',
                    inputClass: 'no_fetch'
                });
                $('#id_department').selectize({
                    sortField: 'text',
                    inputClass: 'no_fetch'
                });
                $('#id_user').selectize({
                    sortField: 'text',
                    inputClass: 'no_fetch'
                });
                document.getElementById('id_tasks-selectized').addEventListener('keyup', function (event) {
                    var val = document.getElementById("id_tasks-selectized").value;
                    //suggest_task_names(val)
                });
                document.getElementById('id_msg_body').addEventListener('keyup', function (event) {
                    var len = document.getElementById("id_msg_body").value.length;
                    document.getElementById('text_count').innerHTML = "Total Characters: " + len;

                });
            });
        </script>
    </div>
{% endblock %}