{% extends 'manpower/user_base.html' %}

{% block default %}
    <link href="/static/css/static.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/SiteScripts/FileHandler.js"></script>
    <script src="/static/js/SiteScripts/FormHandler.js"></script>
    <script src="/static/js/SiteScripts/jquery-3.5.1.js"></script>
    <script src="/static/js/SiteScripts/crypto-js/sha1.js"></script>
    <script src="/static/js/SiteScripts/crypto-js/crypto-js.js"></script>
    <script src="/static/js/SiteScripts/crypto-js/sha1.min.js"></script>
    <script src="/static/js/SiteScripts/crypto-js/lib-typedarrays-min.js"></script>
    <script src="/static/js/SiteScripts/crypto-js/aes.js"></script>

    <style>
        .navbar-nav .nav-item.active .nav-link,
        .navbar-nav .nav-item:hover .nav-link{
            color: #fff;
            background-color: green;
        }
    </style>

    <div>
        {% if user %}
            <h2 style="text-align: center">User Details</h2>
            <table class="table table-hover table-bordered table-lg" style=" margin-left:25%; border-collapse: separate; border-spacing: 0 15px; width: 50%; text-align: center">
                <tr>
                    <th><label>Username</label></th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th><label>Name</label></th>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                </tr>
                <tr>
                    <th><label>Email</label></th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th><label>Division</label></th>
                    <td>{{ user.profile.division }}</td>
                </tr>
                <tr>
                    <th><label>Department</label></th>
                    <td>{{ user.profile.department }}</td>
                </tr>
                <tr>
                    <th><label>NPCBL Designation</label></th>
                    <td>{{ user.profile.npcbl_designation }}</td>
                </tr>
                <tr>
                    <th><label> Plant Designation</label></th>
                    <td>{{ user.profile.designation }}</td>
                </tr>

                <tr>
                    <th><label>Phone</label></th>
                    <td>{{ user.profile.phone }}</td>
                </tr>

                <tr>
                    <th><label>Supervisor Status</label></th>
                    <td>{{ user.profile.is_supervisor }}</td>
                </tr>

                <tr>
                    <th><label>Executor Status </label></th>
                    <td>{{ user.profile.is_executor }}</td>
                </tr>

                <tr>
                    <th><label>Signature</label></th>
                    <td>
                        {% if not user.profile.signature %}
                            You did not upload your signature,
                            <a href="/manpower/user/upload_signature"> Click to upload Signature</a>
                        {% else %}
                            <img id="my_signature" height="100" width="200" src="/manpower/user/load_signature?hash={{user.profile.signature}}">
                            <!-- <a href="/manpower/user/upload_signature"> Click to upload updated Signature</a> -->
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th><label>Edit</label></th>
                    <td>
                        <a class="btn btn-outline-info" href="/manpower/user/edit_profile">Edit Profile</a>
                    </td>
                </tr>
            </table>
        {% endif %}
    </div>

{% endblock %}