{% extends 'document_review/doc_review_base.html' %}
{% load document_review_tags %}

{% block review %}

    <script src="/static/js/task_manager.js"></script>

    <div style="padding-left: 20px; padding-right: 20px" class="row">

        {% if form %}
            <div class="col-6" style="padding: 1%; font-size: 1em; ">
                <div>
                    <h3>Feedback Info</h3>
                    <table class="table table-bordered" style="width: 70%">
                        <tr>
                            <td><b>Responsible Division:</b> {{ feedback.task.division }}</td>
                        </tr>
                        <tr>
                            <td><b>Review By:</b> {{ feedback.user }}</td>
                        </tr>
                        <tr>
                            <td><b>Feedback Created Date:</b> {{ feedback.created_at }}</td>
                        </tr>
                        <tr>
                            <td><b>Feedback Last Modified:</b> {{ feedback.modified_at }}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Final Submission Done:</b>
                                {% if feedback.approval_level == 2 %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span><b>Document Code: </b>{{ task }}</span><br>
                                <span><b>Title: </b>{{ task.title }}</span>
                            </td>
                        </tr>
                    </table>
                </div>

                <br>

            <div style="padding-bottom:1% ">
                <div>
                    {% if request.user in committee_rev.committee.members.all %}
                        <a href="/task_management/document_review/recommend/{{ committee_rev.id }}?category={{ committee_rev.category }}"
                           class="btn btn-info">Recommend Document for Approve or Review</a>
                        <a href="/task_management/document_review/review_comment/{{ committee_rev.id }}?category={{ committee_rev.category }}"
                           class="btn btn-info">Add Document Review Comments</a>
                    {% endif %}
                    {% if request.user ==  committee_rev.committee.div_head%}
                        <a href="/task_management/document_review/recommend/{{ committee_rev.id }}?category={{ committee_rev.category }}&recommendation_by=div_head"
                           class="btn btn-info">Recommend Document for Approve or Review as Divisional Head</a>
                    {% endif %}
                    {% if request.user|is_chief_eng  %}
                        <a href="/task_management/document_review/recommend/{{ committee_rev.id }}?category={{ committee_rev.category }}&recommendation_by=chief_eng"
                           class="btn btn-info">Recommend Document for Approve or Review as Chief Superintendent</a>
                    {% endif %}
                    {% if request.user|is_sd  %}
                        <a href="/task_management/document_review/recommend/{{ committee_rev.id }}?category={{ committee_rev.category }}&recommendation_by=sd"
                           class="btn btn-info">Recommend Document for Approve or Review</a>
                    {% endif %}
                </div><br>
                <div>
                    <h2>Feedback Details</h2>
                    <table class="table table-bordered" style="max-width: 80%">
                        {% for each in form %}
                            <tr>
                                <td>
                                    <span style="font-weight: bold">Question-{{ forloop.counter }}: {{ each.label }}</span>
                                    <br>
                                    <span>
                                            <b>Answer: </b>
                                            {{ each.initial|linebreaksbr }}
                                        </span>


                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <br><br>
            </div>
        </div>
        {% endif %}

        <div class="col-6" style="padding: 1%">
            <h3>Review Recommendation of Committee Members</h3>
            {% if committee_rev.committee_approval %}
                <table class="table table-sm table-bordered" style="width: 80%">
                    <th>Recommendation By</th>
                    <th>Recommendation Date</th>
                    <th>Recommendation</th>
                    {% for each in committee_rev.committee_approval.all %}
                        <tr>
                            <td>{{ each.signed_by }}</td>
                            <td>{{ each.signed_on }}</td>
                            <td>
                                {{ each.remarks|remarks_display_str }}
                                {% if request.user.is_staff %}
                                    <a href="/admin_site_control/manpower/approvalsignature/{{ each.id }}/change/">Change</a>
                                {% endif %}
                                {% if request.user == each.signed_by %}
                                    <a href="/task_management/document_review/change_document_recommendation/{{ each.id }}?second_tier_id={{ committee_rev.id }}">Change</a>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    <tr>
                        <td>{{ committee_rev.division_head_approval.signed_by }} <br>(Head of Division)
                        </td>
                        <td>{{ committee_rev.division_head_approval.signed_on }}</td>
                        <td>
                            {{ committee_rev.division_head_approval.remarks|remarks_display_str }}
                            {% if request.user.is_staff %}
                                <a href="/admin_site_control/manpower/approvalsignature/{{ committee_rev.chief_eng_approval.id }}/change/">Change</a>
                            {% endif %}
                            {% if request.user == committee_rev.division_head_approval.signed_by %}
                                <a href="/task_management/document_review/change_document_recommendation/{{ committee_rev.chief_eng_approval.id }}?second_tier_id={{ committee_rev.id }}">Change</a>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>{{ committee_rev.chief_eng_approval.signed_by }} <br>(Chief Superintendent)</td>
                        <td>{{ committee_rev.chief_eng_approval.signed_on }}</td>
                        <td>
                            {{ committee_rev.chief_eng_approval.remarks|remarks_display_str }}
                            {% if request.user.is_staff %}
                                <a href="/admin_site_control/manpower/approvalsignature/{{ committee_rev.chief_eng_approval.id }}/change/">Change</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {% endif %}

            <h3>Committee Review Comments</h3>
            <table class="table table-sm table-bordered" style="width: 80%; font-size: 0.8em; text-align: center">
                <tr>
                    <th>SL. No</th>
                    <th>Section No</th>
                    <th>Original Text</th>
                    <th>Proposed Text</th>
                    <th>Remarks</th>
                    <th>Comment Info</th>
                </tr>
            {% for each in committee_rev_cmnt %}
                <tr>
                    <td>
                        {{ forloop.counter }} <br>
                        {% if each.proposed_by == request.user or request.user.is_superuser%}
                            (<a href="/task_management/document_review/edit_review_comment/{{ each.id }}">Edit</a>)
                        {% endif %}
                    </td>
                    <td>{{ each.section_no }}</td>
                    <td>{{ each.original_text }}</td>
                    <td>{{ each.proposed_text }}</td>
                    <td>{{ each.remarks }}</td>
                    <td>{{ each.proposed_by }} <br> (on {{ each.created_at }})</td>
                </tr>
                {% endfor %}
            </table>

            <!-- table for comments -->
            {% if task_comment_list %}
                <div>
                    <h2>Comments</h2>

                    <table style="width:80%" class="table table-hover table-bordered">

                        <tr class="table-danger">
                            <th>User</th>
                            <th>Comment</th>
                            <th>Created Date</th>
                        </tr>

                        {% for each in task_comment_list %}
                            <tr>
                                <td>{{ each.user }}</td>
                                <td>{{ each.comment }}</td>
                                <td>{{ each.created_date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}
