<html>
{% load document_review_tags %}
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="{% static 'js/selectize.js' %}"></script>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <link href="/static/css/selectize.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <style>
        table {
            page-break-inside: avoid;
        }

        div {
            page-break-inside: avoid;
            page-break-after: always;
        }

        p {
            break-inside: avoid;
            break-after: auto;
        }
    </style>
</head>

<body style='font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, "sans-serif"'>


 <!-- ....................................
         ....................................
            start of new template design
         ....................................
         .................................... -->

    <!-- front page -->
    <div style="padding-left: 5%; padding-top: 15%">
        <p style="font-size:16pt; text-align: center; padding-bottom: 5%; font-weight: bold">NUCLEAR POWER PLANT COMPANY BANGLADESH LIMITED<br>(NPCBL)</p>
        <div style="text-align: center">
            <img src={{ npcbl_logo_path }} alt="npcbl_logo" width="4.26cm" height="5cm">
        </div>

        <br><br><br>

    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="width: 45%"></td>
            <td style="width: 35%;">
                <p style="font-size: 14pt;"><b>APPROVED</b><br>Managing Director</p>

                {% if committee_rev.sd_approval.sign_hash %}
                    <!-- Signature and line in same container -->
                    <table style="border-collapse: collapse; margin: 0 auto;">
                        <tr>
                            <td>
                                <img height="45" width="120"
                                     src="https://{{ host }}/manpower/user/embedd_signature?hash={{ committee_rev.sd_approval.sign_hash }}">
                                <br>
                                <!-- Line exactly same width as signature -->
                                <div style="width: 50px; border-bottom: 1px solid black; margin: 0 auto;">&nbsp;</div>
                            </td>
                        </tr>
                    </table>
                    <br>

                    <p style="font-size: 14pt; margin-top: 2px;">
                        (Dr. Md. Zahedul Hassan)<br>
                        {{ committee_rev.sd_approval.signed_on }}
                    </p>
                {% endif %}
            </td>
            <td style="width: 20%"></td>
        </tr>
    </table>

        <br><br>
        <div style="text-align: center">
            {% if unit == '0' %}
                <p style="font-size: 14pt; font-weight: bold">ROOPPUR NPP<br>UNIT No. 1, 2</p><br>
            {% elif unit == '1' %}
                <p style="font-size: 14pt; font-weight: bold">ROOPPUR NPP<br>UNIT No. 1</p><br>
            {% elif unit == '2' %}
                <p style="font-size: 14pt; font-weight: bold">ROOPPUR NPP<br>UNIT No. 2</p><br>
            {% else %}
                <p style="font-size: 14pt; font-weight: bold">ROOPPUR NPP<br>UNIT UNDEFINED</p><br>
            {% endif %}
            <p style="font-size: 12pt;"><b>{{ task.title }}</b>
                <br>{{ task }}
                {% if form.initial.version_of_doc %}
                <br>Version {{ form.initial.version_of_doc|extract_version_info }}
                {% else %}
                <br>Version 2
                {% endif %}
            </p>

        </div>
    </div>

    <!-- heading of approval sheet -->

    <div style="padding-left: 5%;">
        <table class="table table-bordered table-responsive" style="width: 100%; border: 1px solid grey; border-collapse: collapse; text-align: center">
            <tr>
                <td style="border:1px solid black; width: 20%; vertical-align: middle;">Rooppur NPP</td>
                <td rowspan="2" style="vertical-align: middle; border: 1px solid black;">
                    <span>{{ task.title }}</span>
                </td>
                <td rowspan="2" style="width: 30%; vertical-align: middle; border: 1px solid black;">
                    <span>{{ task }}</span>
                </td>
            </tr>
            <tr>
                {% if form.initial.version_of_doc %}
                <td style="border: 1px solid black; width: 20%; vertical-align: middle;">Version {{ form.initial.version_of_doc|extract_version_info }}</td>
                {% else %}
                <td style="border: 1px solid black; width: 20%; vertical-align: middle;">Version 2</td>
                {% endif %}
            </tr>
        </table>
    </div>

    <!-- Approval sheet table -->

    <div style="padding-left: 5%;">
        <p style="font-size: 14pt; font-weight: bold; text-align: center">Approval Sheet</p>
        <div>
            <table class="table table-bordered" style="width: 100%; text-align: center;  border:1px solid black; border-collapse: collapse;" >
                <tr>
                    <th style="border:1px solid black;">&nbsp;</th>
                    <th style="border:1px solid black;">Position</th>
                    <th style="border:1px solid black;">Full Name</th>
                    <th style="border:1px solid black;">Signature</th>
                    <th style="border:1px solid black;">Date</th>
                </tr>
                <tr>
                    <td style="border:1px solid black;">Agreed by</td>
                    <td style="border:1px solid black;">Chief Superintendent</td>
                    <td style="border:1px solid black;">
                        {{ committee_rev.chief_eng_approval.signed_by.get_full_name }}
                    </td>
                    {% if committee_rev.chief_eng_approval.sign_hash %}
                        <td style="margin-top:5%; border:1px solid black;">
                            <img id="signature" height="40" width="100"
                                     src="https://{{ host }}/manpower/user/embedd_signature?hash={{ committee_rev.chief_eng_approval.sign_hash }}">
                        </td>
                        <td style="border:1px solid black;">{{ committee_rev.chief_eng_approval.signed_on }}</td>

                    {% endif %}
                </tr>
                <tr>
                    <td style="border:1px solid black;">Agreed by</td>
                    <td style="border:1px solid black;">Head of Division</td>
                    <td style="border:1px solid black;">
                        {{ committee_rev.division_head_approval.signed_by.get_full_name }}
                    </td>
                    {% if committee_rev.division_head_approval.sign_hash %}
                        <td style="margin-top:5%; border:1px solid black;">
                            <img id="signature" height="40" width="100"
                                 src="https://{{ host }}/manpower/user/embedd_signature?hash={{ committee_rev.division_head_approval.sign_hash }}">
                        </td>
                        <td style="border:1px solid black;">{{ committee_rev.division_head_approval.signed_on }}</td>
                    {% endif %}
                </tr>

                {% if committee_rev.committee_approval %}
                    {% for each in committee_rev.committee_approval.all %}
                        <tr>
                            <td style="border:1px solid black;">Agreed by</td>
                            <td style="border:1px solid black;">{{ each.signed_by.profile.npcbl_designation }}</td>
                            <td style="border:1px solid black; width: 30%">
                                {{ each.signed_by.get_full_name }}
                                <br>
                                <para style="word-wrap: break-word;">
                                    {{ each.signed_by }}
                                </para>
                            </td>
                            <td style="margin-top:5%; border:1px solid black;">
                                <img id="signature_{{ forloop.counter }}" height="40" width="100"
                                     src="https://{{ host }}/manpower/user/embedd_signature?hash={{ each.sign_hash }}">
                            </td>
                            <td style="border:1px solid black;">
                                {{ each.signed_on }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                <!-- Reviewer's approval sign -->
                <tr>
                    <td style="border:1px solid black;">Agreed by</td>
                    {% if feedback.user.profile.npcbl_designation %}
                        <td style="border:1px solid black;">{{ feedback.user.profile.npcbl_designation }}</td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                    <td style="border:1px solid black;">
                        {{ feedback.user.get_full_name }}
                    </td>
                    {% if feedback.user.profile.signature %}
                        <td style="margin-top:5%; border:1px solid black;">
                            <img id="signature" height="40" width="100"
                                 src="http://{{ host }}/manpower/user/embedd_signature?hash={{ feedback.user.profile.signature }}">
                        </td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                        <td style="border:1px solid black;">{{ feedback.modified_at|date }}</td>
                </tr>
            </table>
        </div>
    </div>

</div>

    <!-- ....................................
         ....................................
              End of new template design
         ....................................
         .................................... -->

<div>
    <div>
        <h2 style="text-align: center; font-size: 2em;">Rooppur NPP Document Review</h2>
        <br><br>
        <table class="table" style="width: 100%; text-align: center; font-size: 2em;">
            <tr>
                <td>
                    <span><b>Document Code: </b>{{ task }}</span><br>
                </td>
            </tr>
            <tr>
                <td>
                    <span><b>Document Version: </b>{{ form.initial.version_of_doc|extract_version_info }}</span>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <span><b>Title: </b>{{ task.title }}</span>
                </td>
            </tr>
            <tr>
                <td><b>Responsible Division:</b> {{ feedback.task.division }}</td>
            </tr>
            <tr>
                <td><b>Review By:</b> {{ feedback.user }}</td>
            </tr>
            <tr>
                <td><b>Review Date:</b> {{ feedback.modified_at|date }}</td>
            </tr>
        </table>
    </div>
</div>

<div style='padding-left:5%;'>
    <div style="padding-bottom:1% ">
        {% if form %}
            <h2>Feedback Details</h2>
            {% for each in form %}
                <p style="text-align: justify-all">
                    <span style="font-weight: bold">Question-{{ forloop.counter }}: {{ each.label }}</span>
                    <br>
                    <span style="width: 95%">
                    <b>Answer: </b>
                    {{ each.initial|linebreaksbr }}
                    <br>
                </span>
                </p>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div style="padding-left: 5%; padding-bottom: 2%; width: 95%">
    <h2 style="text-align: center">Committee Review Comments</h2>

    <table class="table table-bordered">
        <thead>
        <th>SL. No</th>
        <th>Section No</th>
        <th>Original Text</th>
        <th>Proposed Text</th>
        <th>Remarks</th>
        </thead>
        {% for each in committee_rev_cmnt %}
            <tr>
                <td style="width: 3%">{{ forloop.counter }}</td>
                <td style="width: 7%">{{ each.section_no }}</td>
                <td style="width: 35%; word-wrap: anywhere;">{{ each.original_text|linebreaks }}</td>
                <td style="width: 35%; word-wrap: anywhere;">{{ each.proposed_text|linebreaks }}</td>
                <td style="width: 20%; word-wrap: anywhere;">{{ each.remarks|linebreaks }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function to_pdf()
    {
        //window.print()
    }
    async function load_all_sigs() {
        var sig_count = {{committee_rev.committee_approval.all.count}};
        await sleep(500);
        for (i = 1; i <= sig_count; i++) {
            var item = 'signature_' + i;
            var src = document.getElementById(item).src;
            document.getElementById(item).src = src;
            await sleep(600);
        }
        to_pdf();
    }

    $(document).ready(function () {
        load_all_sigs();
    });
</script>
</body>
</html>
