{% extends 'document_review/doc_review_base.html' %}
{% load consultant_templatetags %}

{% block review %}

    <script src="/static/js/task_manager.js"></script>

    <div style="padding: 5%">

        {% if success %}
            <div>
                <h3 style="color: darkgreen; text-align: center">
                    Remarks Successfully Submitted.<br>
                </h3>
            </div>
        {% endif %}

        {% if comment_sent %}
            <div>
                <h3 style="color: darkgreen; text-align: center">
                    Comment Sent to {{ notify_reviewer }}<br>
                </h3>
            </div>
        {% endif %}

        <div>
            <h4 style="color:cornflowerblue">Managing Director's Remarks</h4>
            <div style="width: 50%">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            Document:
                        </td>
                        <td>
                            {{ task }}
                        </td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>{{ task.title }}</td>
                    </tr>
                    <tr>
                        <td>Division:</td>
                        <td>{{ task.division }}</td>
                    </tr>
                    <tr>
                        <td>Shop/Department</td>
                        <td>{{ task.dept_id }}</td>
                    </tr>
                    <tr>
                        <td>Initial Review By</td>
                        <td>{{ feedback.user }}</td>
                    </tr>
                </table>
            </div>
            <div>
                {% if form %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        {% if request.user.profile.signature == "" or not request.user.profile.signature %}
                            <span style="color:red">You have to upload your signature first to digitally sign & recommend</span>
                            <a href="/manpower/user/upload_signature" target="_blank">Click here to upload
                                signature</a>
                        {% else %}
                            <input class="btn btn-success" type="submit" name="submit" value="Submit Remarks">
                        {% endif %}
                    </form>
                {% endif %}
            <br>
                <!--<a href="/task_management/document_review/send_comment/{{ feedback.task.id }}?type=first_tier" class="btn btn-outline-info"><b>Notify First Tier Reviewer</b></a>
                <a href="/task_management/document_review/send_comment/{{ feedback.task.id }}?type=second_tier" class="btn btn-outline-info"><b>Notify Second Tier Review Committee</b></a>
                <a href="/task_management/document_review/send_comment/{{ feedback.task.id }}?type=all_tier" class="btn btn-outline-info"><b>Notify to first & second tier</b></a>-->
            </div>
        </div>
    </div>
{% endblock %}
